.App {
  text-align: center;
  border: solid red 1px;
  width: 50vw;
  height: 50vh;
  
}

.App-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header{
  text-transform:uppercase;
  font-weight: bold;
  margin: 1em;
}





