.App {
  text-align: center;
  border: solid red 1px;
  width: 50vw;
  height: fit-content;
  
}

.App-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header{
  text-transform:uppercase;
  font-weight: bold;
  margin: 1em;
}
.App ul{
  list-style: none;
  width: 100%;
}
.App li{
  margin: 1em;
  border-bottom: solid grey 1px;
  border: 1px solid blue;  
}





