* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  margin-top: 25px;

}

body {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/books.jpg') !important;
  background-size: cover;
  background-attachment: fixed;
}

